<div class='coupons'>
  <h3>Coupons Delivered</h3>

  <div>
    <% areas.each do |area| %>
      <div class="coupon pull-left">
        <div><%= image_tag coupons_image_map[area.name], size: "100x100"%></div>
        <div><span><%= coupons_map[area.name][:name] %></span></div>
        <div><span><%= coupons_map[area.name][:description] %></span></div>
        <div class="<%=coupon_event(coupons_map[area.name][:name], clicked_coupons)%>"><%= coupon_event(coupons_map[area.name][:name], clicked_coupons)%></div>
      </div>
    <% end %>
  </div>
</div>
