<table id="visit_table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Duration</th>
      <th>Time Entered</th>
      <th>Time Exited</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% visits.each do |visit| %>
      <tr>
        <td><span id=<%= visit.product_area.css_id %>>&#x25A0;</span><%= visit.product_area.name %></td>
        <td><%= visit.string_numeric_duration %></td>
        <td><%= visit.formatted_enter_time %></td>
        <td><%= visit.formatted_exit_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<div><b>Total duration: <%=total_duration visits %></b></div>
