<table id="visit_table">
  <thead>
    <tr>
      <th>Product Area</th>
      <th>Duration</th>
      <th>Enter time</th>
      <th>Exit time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% visits.each do |visit| %>
      <tr>
        <td><%= visit.product_area.name %></td>
        <td><%= visit.string_numeric_duration %></td>
        <td><%= visit.formatted_enter_time %></td>
        <td><%= visit.formatted_exit_time %></td>
      </tr>
    <% end %>
  </tbody>
  <%= "Total duration: #{total_duration visits}" %>
</table>
