<% content_for :head do %>
    <%= javascript_include_tag 'Chart.js' %>
    <%= javascript_include_tag 'visit_pie_chart.js' %>
<% end %>

<h1><%= "Visits for #{number_to_phone(@customer.membership_number, area_code: true)}" %></h1>

<% if @smoothed_visits.empty? %>
    <%=  render 'no_visits' %>
<% else %>
  <div id="pie_chart_container">
      <div id="smooth_chart_container">
        <h2>Smoothed Data</h2>
        <%= render 'visit_pie_chart', :visits => @smoothed_visits, :chart_id => 'smooth-doughnut-chart' %>
        <%= render 'visit_table', :visits => @smoothed_visits %>
      </div>

      <div id="raw_chart_container">
          <h2>Raw Data</h2>
          <%= render 'visit_pie_chart', :visits => @visits, :chart_id => 'doughnut-chart' %>
          <%= render 'visit_table', :visits => @visits %>
      </div>
  </div>

  <h2>Store path over time</h2>
  <%= render 'visit_step_graph', :visits => @smoothed_visits %>
<% end %>

<br>

<%= link_to 'All customers', customers_path %>
<%= link_to 'Record new Visit', new_customer_visit_path %>
