<h1><%= "Visits for Customer #{params[:customer_id]}" %></h1>

<% customer_visits = @visits.where(customer_id: params[:customer_id]) %>

<% if customer_visits.empty? %>
    <%=  render 'no_visits' %>
<% else %>
    <%=  render 'visit_table', :customer_visits => customer_visits %>
<% end %>

<br>

<%= link_to 'All customers', customers_path %>
<%= link_to 'Record new Visit', new_customer_visit_path %>
