<%= javascript_include_tag 'visit_activity_chart' %>
<%= javascript_include_tag 'visit_ajax' %>

<h1 class="page-header"><%= "Customer #{number_to_phone(@customer.membership_number, area_code: true)}" %></h1>


<% if @smoothed_visits.empty? %>
    <%=  render 'no_visits' %>
<% else %>
  <div id="chart_containers">
      <div id="pie_chart_container">
          <div id="smooth_chart_container">
            <h3>Time Spent in Product Areas</h3>
            <%= render 'visit_pie_chart', :visits => @smoothed_visits, :chart_id => 'smooth-doughnut-chart' %>
            <div id="visit-table"></div>
            <%= render partial: 'visits_activity_chart' %>
          </div>

          <div id="coupons"></div>
      </div>


  </div>


<% end %>


<div id='nav'>
  <%= link_to 'Record new visit', new_customer_visit_path %>
</div>

