<% content_for :head do %>
    <%= javascript_include_tag 'Chart.js' %>
    <%= javascript_include_tag 'visit_pie_chart.js' %>
<% end %>

<h1><%= "Visits for #{number_to_phone(@customer.membership_number, area_code: true)}" %></h1>

<% if @customer.visits.empty? %>
    <%=  render 'no_visits' %>
<% else %>
    <%=  render 'visit_table', :visits => @customer.visits %>
    <%=  render 'visit_step_graph', :visits => @customer.visits %>
    <%=  render 'visit_pie_chart', :visits => @customer.visits %>
<% end %>

<br>

<%= link_to 'All customers', customers_path %>
<%= link_to 'Record new Visit', new_customer_visit_path %>
