<p id="notice"><%= notice %></p>

<p>
  <strong>Enter time:</strong>
  <%= @visit.enter_time %>
</p>

<p>
  <strong>Exit time:</strong>
  <%= @visit.exit_time %>
</p>

<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
